<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Create Gift</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Gift Title</label>
                                <input type="text" class="form-control" name="title" [(ngModel)]="giftTitle" placeholder="Enter your name" ngDefaultControl>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="ccmonth">Gift Type</label>
                            <select class="form-control" id="ccmonth" [(ngModel)]="giftType">
                                <option>minute</option>
                                <option>data</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Gift Data</label>
                                <input type="text" class="form-control" name="data" [(ngModel)]="giftData" placeholder="Enter your Gift Data" ngDefaultControl>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Gift Price</label>
                                <input type="text" class="form-control" name="price" [(ngModel)]="giftPrice" placeholder="Enter your Gift Price" ngDefaultControl>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">Upload Image</label>
                        <div class="col-md-9">
                            <!--     <input type="file" id="file-input" name="file-input" [(ngModel)]="image"> -->

                            <input type="file" value="upload" #file [(ngModel)]="image" name="image" (change)="fileChange($event)" />

                            <!-- <input type="file" [uploader]="upload" id="file" /> -->

                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success btn pull-right" (click)="saveImage()">
                        <i class="fa fa-dot-circle-o"></i>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>