<form>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Event List
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="35%">
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="    Invite Users" readonly />
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" (click)="downloadSampleCSVFile()">Download Sample</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event);" /> 
                                        * Only excel and csv files allowed
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-s"
                                            (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload Excel
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="Get Invite Codes" readonly />
                                        </div>
                                    </td>
                                    <td width="10%">
                                        <input type="number" id="passes" name="passes" [(ngModel)]="noOfPasses" class="form-control" placeholder="Number of Codes"/>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-s"
                                            (click)="downloadExcel($event);">
                                            <span class="glyphicon glyphicon-upload"></span> Download Excel
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>