<!-- <div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>

          </div>
          <div class="text-value">Gift Shop</div>
          <div>Gifts gallery</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>

          </div>
          <div class="text-value">Events Management</div>
          <div>Manage Events</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>

          </div>
          <div class="text-value">Monitoring</div>
          <div>Monitoring</div>
        </div>
      </div>
    </div>
  </div>
</div> -->