<form>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Invite customers by SMS
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event);" /> 
                                        * Only excel and csv files allowed
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-s"
                                            (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload Excel
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#/invite-by-sms" (click)="downloadSampleCSVFile()">Click to download sample</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>